@model Bank_Management.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}

<div id="main-content">
    <link href="~/CSS/Registration.css" rel="stylesheet" />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Change password</h4>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success:</strong>  @TempData["SuccessMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            <strong>Error</strong> @TempData["ErrorMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
    }
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Username, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @id = "inputUsername", @onblur = "validateUsername(this)" } })
            <span id="errorUsername" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword, "Old password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @id = "inputOldPassword", @onblur = "validateOldPassword(this)" })
            <span id="errorOldPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, " New password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*<div class="password-container">*@
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", id = "password", @onfocusout = "validatePassword(this)" })
                @*<i class="password-toggle fas fa-eye-slash" onclick="togglePasswordVisibility()"></i>*@
            @*</div>*@
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

            <div id="errorPassword" class="text-danger"></div>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, "Confirm password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", id = "confirmPassword", @onfocusout = "validateConfirmPassword(this)" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            <div id="errorConfirmPassword" class="text-danger"></div>

        </div>
    

</div>&nbsp;&nbsp;&nbsp;
    <center>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-success" />
            </div>
        </div>
    </center>
        </div>
    }

   </div>

<script src="~/JAVASCRIPT/ChangePassword.js"></script>