@model IEnumerable<Bank_Management.Models.registeruser>

@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/CSS/Userdetail Admin.css" rel="stylesheet" />
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success:</strong>  @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error</strong> @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}
<div class="container">
    <h2>User details</h2>
    <input type="text" id="searchBar" placeholder="Search...">


    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Bank id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Date of birth</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Username</th>
                    <th>Profile image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <!-- Other columns with data-search attribute -->

                        <td>@Html.DisplayFor(modelItem => item.BankId)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.DOB)</td>
                        <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.State)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td>@Html.DisplayFor(modelItem => item.Username)</td>
                        <td>
                            @if (item.ProfileImage != null)
                            {
                                <img src="data:image;base64,@Convert.ToBase64String(item.ProfileImage)" alt="Profile Image" />
                            }
                        </td>
                        <td>
                            <form action="@Url.Action("Delete", "Admin")" method="post">
                                @Html.Hidden("id", item.BankId)
                                <button type="submit" class="btn btn-delete btn-sm">Delete</button>
                            </form>&nbsp;
                            @Html.ActionLink("Create", "CreateBankAccount", new { userId = item.BankId, AccountNumber = item.AccountNumber }, new { @class = "btn btn-primary", style = "display: inline;" })










                        </td>
                        @*<td data-search="@item.BankId">@Html.DisplayFor(modelItem => item.BankId)</td>*@

                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/JAVASCRIPT/Searchbar.js"></script>